
:root {
    --light: #D1CCD3;
    --med: #5B6567;
    --dark: #1C2F35;
    --dark2: #2E4041;
    --accentgrpi: #7D726E;
    --accentgrpi2: #978078;
    --accentbl: #B1BBC9;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
header {
    width: 100%;
    margin: 0 ;
    background-color: var(--dark);
    display: flex;
}

h1 {
    color: var(--accentbl);
    font-size: 54px;
    text-align: center;
    margin: 0;
    padding: 4px 0 0 0;
    width: 70%
}

nav {
    margin: 0;
    padding: 12px 8px;
    width: 30%;
}

.nav-bar {
    margin: 0;
    padding: 0;
    color: var(--accentbl);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-links {
    font-size: 24px;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin: 8px 8px 8px 8px;
    padding: 0px 4px;
}

a {
    color: var(--accentbl);
    text-decoration: none;
}
.hero { 
    height: 250px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    background-image: url(../images/pexels-soulful-pizza-3715428.jpg);
    background-size: cover;
    background-position: center;
}

main {
    margin: 0 0 120px 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}
aside {
    width: 30%;
    border-right: var(--dark) solid 2px;
    
}

article {
    padding: 0 24px;
}

h2 {
    text-align: center;
    font-size: 38px;
    color: var(--dark);
}

#headshot {
    max-height: 500px;
    max-width: 260px;
    padding-left: 24px;
}
.highlight {
    width: 69%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

h3 {
    margin: 28px 0 20px 0;
    padding: 0;
    font-size: 38px;
    color: var(--dark);
    width: 100%;
}

.main-project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.horiseon {
    border-radius: 6px;
}

.image-title {
    padding: 2px 82px;
    font-size: 24px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--dark);
    color: var(--light);
    position:absolute;
    top: 10px;
    left: center;

}

figcaption {
    height: 24px;
    width: 50px;
}
.projects {
    padding: 12px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card {
    color: var(--accentbl);
    font-size: 24px;
    height: 80px;
    width: 240px;
    border-radius: 4px;
    background-color: var(--dark);
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color: var(--dark);
    position:fixed;
    bottom: 0;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-name {
    color: var(--accentbl);
    font-size: 32px;
    
}

.info {
    margin: 8px 0;
    color: var(--accentbl);
    font-size: 18px;
    border-color: var(--accentbl);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
}

@media screen and (max-width: 992px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
        flex-wrap: wrap;
    }

    h1 {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .nav-bar {
        justify-content: center;
    }

}

@media screen and (max-width: 950px) {
    aside {
        width: 50%;
    }

    .highlight {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects {
        padding: 12px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media screen and (max-width: 576px) {
    header {
        width: 100%;
    }
    .nav-bar {
        width: 100%;
        margin: 0;
        padding: 0;
        color: var(--accentbl);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-links {
        font-size: 16px;
        list-style-type: none;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        margin: 8px 0;
        padding: 0px 4px;
    }

    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
        border: none;
    }

    .highlight {
        width: 100%;
        margin-bottom: 50px;
    }

    .main-project-card {
        width: 100%;
    }

    .project-card {
        margin: 2px 0;
    }
    footer {
        width: 100%;
        
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
